:root {
  --primary-blue: #05386b;
  --primary-green: #379682;
  --bg-green: #5cdb95;
  --secondary-green: #8ee4af;
  --secondary-gray: #edf5e1;
}

.App {
  background: linear-gradient(180deg,#02da63 70%, black 99% );
  font-family: Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
i,
svg {
  color: white;
}
