:root {
  --primary-blue: #05386b;
  --bg-green: #02da63;
  --secondary-green: #8ee4af;
}

.App {
  background: linear-gradient(180deg,#02da63 70%, black 99% );
  font-family: Helvetica, sans-serif;
  color: white;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
i,
svg {
  color: white;
}
